{§ extends "pyproject.toml.j2" §}

{§ block build_system §}
{¤ super() ¤}
include = ["app"]
{§ endblock §}

{§ block dependencies §}
    "fastapi",
    "uvicorn",
    "python-jose[cryptography]",
    "passlib[bcrypt]",
    "python-dotenv",
    "python-multipart",
{§ endblock §}

{§ block scripts §}
{¤ project | replace("_", "") ¤} = "app.__main__:main"
{§ endblock §}
