# {¤ project ¤}

{§- block tldr §}
{§ endblock §}
## Setup development environment

### Linux

```bash
python3 -m venv .venv --prompt {¤ project ¤}
source .venv/bin/activate
pip install -e .[dev]
```

### Windows

```ps1
py -3 -m venv .venv --prompt {¤ project ¤}
.venv\Scripts\activate
pip install -e .[dev]
```

## Way of working

## Open issues

see [issues](TBD)
