
{§- block build_system §}
# -------------------------------------------------------------------------------------------------
# Build system settings
# -------------------------------------------------------------------------------------------------
[build-system]
requires = ["setuptools-scm[toml]>=7", "setuptools>=65", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.distutils.bdist_wheel]
universal = true

[tool.setuptools.packages.find]
namespaces = false # to disable scanning PEP 420 namespaces (true by default)
{§- endblock §}
# -------------------------------------------------------------------------------------------------
# Build metadata
# -------------------------------------------------------------------------------------------------
[project]
name = "{¤ project ¤}"
description = "{¤ description ¤}"
dynamic = ["version"]

requires-python = ">=3.10"
dependencies = [
{§- block dependencies §}
    "argcomplete>=3",
    "rich",
{§- endblock §}
]

keywords = ["template"]

classifiers = [
    {# "License :: OSI Approved :: MIT License", -#}
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[project.license]
text = "LICENSE"


[project.optional-dependencies]
dev = [ # Development dependencies
    {§ block development -§}
    "black",                      # code formatter
    "coverage_enable_subprocess", # coverage for subprocesses
    "coverage",                   # code coverage
    "mypy",                       # type checker
    "pre-commit",                 # git pre-commit hooks
    "pytest",                     # test runner
    "ruff",                       # code lint/formatter
    "scalene",                    # profiler
    "tox",                        # test runner
    {§- endblock §}
]

[project.scripts]
{§ block scripts -§}
{¤ project | replace("_", "-") ¤} = "{¤ project  | replace('-', '_') ¤}.__main__:main"
{§- endblock §}

# -------------------------------------------------------------------------------------------------
# Authors and maintainers
# -------------------------------------------------------------------------------------------------
[[project.authors]]
name = "{¤ author ¤}"
email = "{¤ email ¤}"



{§ block tools -§}
# -------------------------------------------------------------------------------------------------
# Linter and formatter settings
# -------------------------------------------------------------------------------------------------
[tool.black]
line-length = 120

[tool.ruff]
line-length = 120
select = ["B", "C", "E", "F", "G", "I", "Q", "W", "UP", "PL"]
{§- endblock §}
